<div id="<%= dom_id documentary_film %>">
  <p>
    <strong>Name:</strong>
    <%= documentary_film.name %>
  </p>

  <p>
    <strong>Sypnosis:</strong>
    <%= documentary_film.sypnosis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= documentary_film.director %>
  </p>

</div>
